{# filepath: templates/aboutus/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>About Us</h1>
        <p>
            Welcome to our shop! </p>
            <p>you can contact us via : </p>
            <ul>
            <li>Email  <a href="hashandhash@gmail.com">hashandhash@ourshop.com</a></li>
            <li>Phone  <a href="tel:+1234567890">+216 234 567 890</a></li>
            <li>Instagram </li>
            <li>Facebook</li>
            <li>Address: 123 Paris Street , Tunis, Tunisia</li>
        </ul>

    </div>
{% endblock %}