{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div style="display: flex; flex-direction: column; align-items: center;">
        <h1 style="text-align: center; margin-bottom: 30px;">
            Bienvenue dans le tableau de bord d'administration
        </h1>

        <div style="width: 60%;">
            <img src="{{ asset('images/imagedashbord.png') }}"
                 alt="Image du tableau de bord"
                 style="width: 100%; height: auto; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);" />
        </div>
    </div>
{% endblock %}
